.section-reading-time {
  display: block;
  font-size: 0.8em;
  color: #666;
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 1em;

  .svg-icon {
    margin-right: 4px;
    vertical-align: middle;
  }
}

.section-divider {
  margin: 0rem 0 2rem 0; /* Very small top margin */
  height: 2px;
  border: 0;
  border-top: 1px solid #8438fa;
  background-color: #8438fa;
  clear: both;
  width: 100%;
}

